.jn-btn-primary {
  color: #fff;
  background-color: #0493a3;
}
.jn-btn-primary:hover {
  color: #fff;
  background-color: #027885;
}

.jn-btn-outline {
  color: #027885;
  border: 1px solid #0493a3;
}
.jn-btn-outline:hover {
  color: #fff;
  background-color: #0493a3;
}

.jn-bg-gradiant {
  background: linear-gradient(#eeeeee, #bdbdbd);
}

.jn-border {
  border-radius: 5px;
  border: 1px solid #0493a3;
}
.jn-border-bottom {
  border-bottom: 1px solid #0493a3;
}

.jn-text,
.jn-text:hover {
  color: #0493a3;
}

.jn-select,
.jn-select:focus {
  color: #fff;
  background-color: #0493a3;
  font-weight: bold;
}

.jn-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.jn-detail-card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.jn-project-detail {
  white-space: pre-line;
}

.jn-card-category {
  position: absolute;
  right: 50%;
  bottom: 15px;
  padding: 0 10px;
  border-radius: 15px;
  color: #fff;
  background-color: #6e6e6e;
  transform: translateX(50%);
}

.jn-msg-list {
  position: fixed;
  top: 100px;
  right: 0;
  padding: 0 20px;
  z-index: 1000;
  width: 30%;
}
@media screen and (max-width: 1200px) {
  .jn-msg-list {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .jn-msg-list {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .jn-msg-list {
    width: 100%;
  }
}
